html
  head
    title Endpointing TS
  body
    h1= message
    p Current date: #{currentDate}
    table
      each endpoint in endpoints
        tr
          td
            | #{endpoint.route}
          td 
          td 
          td 
          td 
          td 
          td 
          td
            button(type="button" class="button" onclick=`location.href='${endpoint.route}'`)
              | Check
